@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Brown';
  src: local('Brown'),
    url('/public/fonts/brown/BrownLight\ Regular.ttf') format('ttf');
}

@tailwind utilities;

.slick-slide {
  margin-right: 20px;
}
